<template name="navigation">
  <!-- <div id="blocNav" class="container sidenav modal-content">
    <div class="logo-wrapper">
      <img src="/img/logo_icon.svg" class="img-fluid flex-center">
    </div>
    <div class="container nav">
      <a href="wallet">Wallet</a>
      <a href="/buy">Buy</a>
      <a href="#">Help</a>
    </div>
    <div class="container">
      <a class="stop" href="#"><i class="glyphicon glyphicon-off"></i> Exit</a>
    </div>
  </div> -->

    <div class="col-sm-3 col-lg-2">
      <nav class="navbar navbar-default navbar-fixed-side">
        <!-- normal collapsible navbar markup -->
        <div class="logo-wrapper">
          <img src="/img/logo_icon.svg" class="img-fluid flex-center">
        </div>

        <ul class="nav navbar-nav">
                 <li class="{{activewallet}}">
                   <a href="/wallet">Wallet</a>
                 </li>
                  <li class="{{activebuy}}">
                    <a href="/buy">Buy</a>
                  </li>
                  <li class="divider"></li>
                  <li class="{{activehelp}}"><a href="/help">Help</a></li>
                  <li><a class="stop" href="#"><i class="glyphicon glyphicon-off"></i> Exit</a></li>
                </ul>
      </nav>
    </div>
</template>
